<div class="clients container">
    <div class="row">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.onlyCore" ng-change="" ng-disabled="true"> Csak Lakatos Péter termei
            </label>
        </div> 
        <button 
            class="btn btn-primary" 
            csv-header="['Terem', 'Név', 'Email cím', 'Telefonszám', 'Edzés típusok', 'Edző', 'Státusz', 'Regisztráció dátuma']"
            ng-csv="vm.exportClients()"
            filename="tanitvanyok.csv"
            charset="utf-16"
            add-bom="true">CSV export</button>
    </div>   
    <div class="row" ng-repeat="gymStat in vm.clientsStats">
        <div class="col-xs-12">
            <h3>{{gymStat.gym.charAt(0).toUpperCase() + gymStat.gym.slice(1)}}</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Név</th>
                            <th>Email cím</th>
                            <th>Telefonszám</th>
                            <th>Edzés típusok</th>
                            <th>Edző</th>
                            <th>Státusz</th>
                            <th>Regisztráció dátuma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="clientStats in gymStat.clients">
                            <td>{{clientStats.name}}</td>
                            <td>{{clientStats.email}}</td>
                            <td>{{clientStats.phone}}</td>
                            <td><div ng-repeat="training in clientStats.trainings">{{training}}</div></td>
                            <td><div ng-repeat="coach in clientStats.coaches">{{coach}}</div></td>
                            <td>{{clientStats.active ? 'Aktív' : 'Passzív'}}</td>
                            <td>{{clientStats.registered | date: 'yyyy. MMM dd.'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>