<div class="coaches container">
    <div class="row">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.onlyCore" ng-change="vm.changeFilter()"> Csak Lakatos Péter termei
            </label>
        </div>
        <button
            class="btn btn-primary"
            csv-header="['Oktató neve', 'Terem', 'Heti óraszám', 'Órák']"
            ng-csv="vm.exportCoaches()"
            filename="oktatok.csv"
            charset="utf-16"
            add-bom="true">CSV export</button>
    </div>
    <div class="row" ng-repeat="gymStat in vm.coachesStats">
        <div class="col-xs-12">
            <h3>{{gymStat.gym.charAt(0).toUpperCase() + gymStat.gym.slice(1)}}</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Oktató</th>
                            <th>Heti óraszám</th>
                            <th>Órák</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coachStats in gymStat.coaches">
                            <td>{{coachStats.coach.fullName}}</td>
                            <td>{{coachStats.count}}</td>
                            <td><div ng-repeat="training in coachStats.trainings">{{training.name}} ({{training.from | date : 'EEEE HH:mm' }})</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>