<div class="coaches container">
    <div class="row">
        <div class="calendar">
            <h3>Hónap</h3>
            <ko-calendar 
                id="month"
                model="vm.month"
                format="yyyy. MMMM"
                minDate="vm.minDate"
                maxDate="vm.maxDate"
                enable-time="false"
                min-mode="month"
                datepicker-mode="month"
                change="vm.dateChanged(id, value)"></ko-calendar>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.onlyCore" ng-change="vm.fetchStats(vm.month)"> Csak Lakatos Péter termei
            </label>
        </div> 
        <button 
            class="btn btn-primary" 
            csv-header="['Edző neve', 'Edzőterem', 'Heti óraszám', 'Órák']"
            ng-csv="vm.exportCoaches()"
            filename="edzok.csv"
            charset="utf-16"
            add-bom="true"
            ng-disabled="vm.isLoading">CSV export</button>
    </div>   
    <div class="row" ng-if="vm.isLoading">
        <h3>Adatok betöltése...</h3>
    </div>
    <div class="row" ng-if="!vm.isLoading" ng-repeat="gymStat in vm.coachesStats">
        <div class="col-xs-12">
            <h3>{{gymStat.gym.charAt(0).toUpperCase() + gymStat.gym.slice(1)}}</h3>
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Edző</th>
                        <th>Heti óraszám</th>
                        <th>Órák</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="coachStats in gymStat.coaches">
                        <td>{{coachStats.coach.fullName}}</td>
                        <td>{{coachStats.count}}</td>
                        <td><div ng-repeat="training in coachStats.trainings">{{training.name}} ({{training.from | date : 'EEEE HH:mm' }})</div></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>