<div class="trainings container">
    <div class="row">
        <div class="col-xs-12">
            <div class="calendar">
                <h3>Hónap</h3>
                <ko-calendar 
                    id="month"
                    model="vm.date"
                    format="yyyy. MMMM"
                    minDate="vm.minDate"
                    maxDate="vm.maxDate"
                    enable-time="false"
                    min-mode="month"
                    datepicker-mode="month"></ko-calendar>
            </div>
            <div class="checkbox">
                <label>
                    <input 
                        type="checkbox" 
                        ng-model="vm.onlyCore" 
                        ng-change="vm.dateChanged()"> Csak Lakatos Péter termei
                </label>
            </div> 
            <button 
                class="btn btn-primary" 
                csv-header="['Terem', 'Típus', 'Időpont', 'Oktató', 'Terem', 'Résztvevők száma', 'Összes hely', 'Kihasználtság']"
                ng-csv="vm.exportTrainings()"
                filename="orak.csv"
                charset="utf-16"
                add-bom="true"
                ng-disabled="!vm.trainingsStats || !vm.trainingsStats.length">CSV export</button>
        </div>
        <div class="col-xs-12">
            <h3 ng-if="!vm.trainingsStats || !vm.trainingsStats.length">
                Adatok betöltése ...
            </h3>            
        </div>
    </div>
    <div class="row" ng-repeat="gymStats in vm.trainingsStats">
        <div class="col-xs-12">
            <h3>{{gymStats.gym.charAt(0).toUpperCase() + gymStats.gym.slice(1)}}</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Típus</th>
                            <th>Időpont</th>
                            <th>Oktató</th>
                            <th>Terem</th>
                            <th>Résztvevők száma</th>
                            <th>Összes hely</th>
                            <th>Kihasználtság</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="training in gymStats.trainings">
                            <td>{{training.name}}</td>
                            <td>{{training.from | date : 'EEEE HH:mm'}}</td>
                            <td>{{training.coach}}</td>
                            <td>{{training.location}}</td>
                            <td>{{ training.utilization }}</td>
                            <td>{{ training.max }}</td>
                            <td>{{(training.utilization / training.max * 100) | number : 0}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
