html, body {
    background-image: url(/background.jpg);
    font-family: 'Noto Sans', sans-serif;
}

.navbar-brand {
    // padding: 0;

    img:hover {
        background-color: $primary-color;
    }
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.input-group .input-group-btn .btn {
    height: 34px;
}