<div class="training-administation container">
    <h3>{{trainingAdministration.title}}</h3>
    <form name="trainingForm" autocomplete="off" novalidate>
        <div class="alert alert-danger" ng-if="trainingAdministration.error">
            {{trainingAdministration.error}}
        </div>
        <div ng-class="{ 'has-error': (trainingForm.trainingType.$touched && !trainingAdministration.training.type) }">
            <label for="trainingType">Típus</label>
            <select id="trainingType" name="trainingType" 
                class="form-control" 
                ng-model="trainingAdministration.training.type"
                ng-options="type.name for type in trainingAdministration.trainingTypes track by type.id | orderBy: 'name' "> 
            </select>
            <div class="help-block" ng-show="trainingForm.trainingType.$touched && !trainingAdministration.training.type">Kötelező megadni</div>
        </div>
        <div ng-class="{ 'has-error': (!trainingAdministration.training.coach && trainingForm.coach.$touched) }">
            <label for="coach">Edző</label>
            <select id="coach" name="coach" 
                class="form-control"
                ng-model="trainingAdministration.training.coach"
                ng-options="coach.displayName for coach in trainingAdministration.coaches track by coach.id | orderBy: 'displayName' ">
            </select>
            <div class="help-block" ng-show="trainingForm.coach.$touched && !trainingAdministration.training.coach">Kötelező megadni</div>
        </div>
        <div ng-class="{ 'has-error': (trainingForm.max.$invalid && trainingForm.max.$touched) }">
            <label for="max">Max létszám</label>
            <input id="max" name="max" type="number" class="form-control" ng-model="trainingAdministration.training.max" required min="1">
            <div ng-messages="trainingForm.max.$error" ng-if="trainingForm.max.$touched">
                <div class="help-block" ng-message="required">Kötelező megadni</div>
                <div class="help-block" ng-message="min">Csak pozitív szám lehet</div>
            </div>
        </div>
        <div ng-class="{ 'has-error': (!trainingAdministration.training.location && trainingForm.location.$touched) }">
            <label for="location">Terem</label>
            <select id="location" name="location" 
                class="form-control"
                ng-model="trainingAdministration.training.location"
                ng-options="location.name for location in trainingAdministration.locations track by location.id | orderBy: 'name' ">
            </select>
            <div class="help-block" ng-show="trainingForm.location.$touched && !trainingAdministration.training.location">Kötelező megadni</div>
        </div>
        <div>
            <label for="fromCalendar">Kezdés</label>
            <ko-calendar id="from" model="trainingAdministration.training.from" format="yyyy. MMM d. HH:mm" minDate="trainingAdministration.minDate" maxDate="trainingAdministration.maxDate" enable-time="true"></ko-calendar>
        </div>
        <div>
            <label for="toCalendar">Befejezés</label>
            <ko-calendar id="to" model="trainingAdministration.training.to" format="yyyy. MMM d. HH:mm" minDate="trainingAdministration.minDate" maxDate="trainingAdministration.maxDate" enable-time="true"></ko-calendar>
        </div>
        <div>
            <label for="intervalCalendar">Eddig ismétlődik hetente</label>
            <ko-calendar id="interval" model="trainingAdministration.training.interval" format="yyyy. MMM d." minDate="trainingAdministration.minDate" maxDate="trainingAdministration.maxDate" enable-time="false"></ko-calendar>
        </div>
        <button type="submit" class="btn btn-primary pull-right" ng-click="trainingAdministration.submit()" ng-disabled="trainingForm.$pristine || trainingForm.$invalid || !trainingAdministration.training.coach || !trainingAdministration.training.location">Mentés</button>
    </form>
</div>
