<nav class="navbar navbar-default">
    <div class="container-fluid navbar-container">
        <div class="visible-xs small-navbar">
            <ul class="list-inline pull-left">
                <li><a ui-sref="welcome"><i class="fa fa-home fa-2x"></i></a></li>
            </ul>
            <ul class="list-inline pull-right">
                <li ng-if="navbar.userInfo.isAuth && !navbar.userInfo.isClient"><a ui-sref="administration"><i class="fa fa-pencil fa-2x"></i></a></li>
                <li ng-if="navbar.userInfo.isAuth && !navbar.userInfo.isClient"><a ui-sref="stats"><i class="fa fa-table fa-2x"></i></a></li>
                <li ng-if="navbar.userInfo.isAuth"><a ui-sref="schedule"><i class="fa fa-calendar fa-2x"></i></a></li>
                <li ng-if="navbar.userInfo.isAuth"><a ui-sref="profile"><i class="fa fa-user fa-2x"></i></a></li>
                <li ng-if="!navbar.userInfo.isAuth"><a ui-sref="login"><i class="fa fa-sign-in fa-2x"></i></a></li>
                <li ng-if="navbar.userInfo.isAuth"><a ng-click="navbar.logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
            </ul>
        </div>
        <div class="navbar-header hidden-xs">
            <a class="navbar-brand" ui-sref="welcome">
                kotei
            </a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="navbar.userInfo.isAuth && !navbar.userInfo.isClient" uib-dropdown on-toggle="toggled(open)">
                    <a href uib-dropdown-toggle>
                        Adminisztráció
                    </a>
                    <ul class="uib-dropdown-menu">
                        <li>
                            <a ui-sref="administration.user-list">{{ navbar.userInfo.isAdmin ? 'Felhasználók' : 'Tanítványok' }}</a>
                        </li>
                        <li ng-if="navbar.userInfo.isAdmin">
                            <a ui-sref="administration.new-training">Új edzés</a>
                        </li>
                        <li>
                            <a ui-sref="administration.new-subscription">Bérletvásárlás</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="navbar.userInfo.isAuth && !navbar.userInfo.isClient" uib-dropdown on-toggle="toggled(open)">
                    <a href uib-dropdown-toggle>
                        Statisztikák
                    </a>
                    <ul class="uib-dropdown-menu">
                        <li>
                            <a ui-sref="stats.payoffs">Elszámolás</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="navbar.userInfo.isAuth"><a ui-sref="schedule">Órarend</a></li>
                <li ng-if="navbar.userInfo.isAuth"><a ui-sref="profile">Profilom</a></li>
                <li ng-if="!navbar.userInfo.isAuth"><a ui-sref="login">Belépés</a></li>
                <li ng-if="navbar.userInfo.isAuth"><a ng-click="navbar.logout()">Kilépés</a></li>
            </ul>
        </div>
    </div>
</nav>
