<div class="profile container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Alapadatok</div>
                <div class="panel-body">
                    <div>Vezetéknév: {{myProfile.profileInfo.familyName}}</div>
                    <div>Keresztnév: {{myProfile.profileInfo.givenName}}</div>
                    <div ng-if="myProfile.profileInfo.nickname">Becenév: {{myProfile.profileInfo.nickname}}</div>
                    <div>Email: {{myProfile.profileInfo.email}}</div>
                    <div ng-if="myProfile.profileInfo.address">Számlázási cím: {{myProfile.profileInfo.address}}</div>
                    <div ng-if="myProfile.profileInfo.phone">Telefonszám: {{myProfile.profileInfo.phone}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="myProfile.subscriptions.length">
            <div class="panel panel-primary">
                <div class="panel-heading">Bérletek</div>
                <div class="panel-body subscription-panel" smooth-scroll>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="subscription in myProfile.subscriptions">
                            <div>Típus: {{subscription.SubscriptionType.name}}</div>
                            <div>Érvényesség kezdete: {{subscription.from | date : 'yyyy. MMMM d.'}}</div>
                            <div>Érvényesség vége: {{subscription.to | date : 'yyyy. MMMM d.'}}</div>
                            <div>Oktató: {{subscription.Coach.fullName}}</div>
                            <div>Ára: {{subscription.price | currency}}</div>
                            <div>Összes alkalom: {{subscription.amount}}</div>
                            <div ng-if="subscription.free">Szabad alkalmak: {{subscription.free}}</div>
                            <div ng-if="subscription.lost">Elveszett alkalmak: {{subscription.lost}}</div>
                            <div ng-if="subscription.missed">Kihagyott alkalmak: {{subscription.missed}}</div>
                            <div ng-if="subscription.attendeed">Részvételek: {{subscription.attendeed}}</div>
                            <div ng-if="subscription.assigned">Feliratkozások: {{subscription.assigned}}</div>
                            <ul class="list-group">
                                <li class="list-group-item clearfix" ng-repeat="training in subscription.Trainings">
                                    <a ui-sref="attendee-list({ trainingId: training.id })"><i class="fa fa-circle" ng-class="training.cssClass"></i>{{ training.from | date }}: {{ training.TrainingType.name }}</a>
                                    <i ng-if="training.canLeave" class="fa fa-times pull-right" ng-click="$event.stopPropagation();myProfile.leaveTraining(training)"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>