<div class="user-profile container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Alapadatok</div>
                <div class="panel-body">
                    <form name="userForm" novalidate>
                        <div class="alert alert-danger" ng-if="userProfile.userError">
                            {{userProfile.userError}}
                        </div>
                        <div ng-class="{ 'has-error': (userForm.familyName.$invalid && userForm.familyName.$touched) }">
                            <label for="familyName">Vezetéknév</label>
                            <input id="familyName" name="familyName" type="text" class="form-control" ng-model="userProfile.user.familyName" required>
                            <div ng-messages="userForm.familyName.$error" ng-if="userForm.familyName.$touched">
                                <div class="help-block" ng-message="required">Kötelező megadni</div>
                            </div>
                        </div>
                        <div ng-class="{ 'has-error': (userForm.givenName.$invalid && userForm.givenName.$touched) }">
                            <label for="givenName">Keresztnév</label>
                            <input id="givenName" name="givenName" type="text" class="form-control" ng-model="userProfile.user.givenName" required>
                            <div ng-messages="userForm.givenName.$error" ng-if="userForm.givenName.$touched">
                                <div class="help-block" ng-message="required">Kötelező megadni</div>
                            </div>
                        </div>
                        <div ng-class="{ 'has-error': (userForm.nickname.$invalid && userForm.nickname.$touched) }">
                            <label for="nickname">Becenév</label>
                            <input id="nickname" name="nickname" type="text" class="form-control" ng-model="userProfile.user.nickname">
                            <div ng-messages="userForm.nickname.$error" ng-if="userForm.nickname.$touched">
                            </div>
                        </div>
                        <div ng-class="{ 'has-error': (userForm.email.$invalid && userForm.email.$touched) }">
                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" class="form-control" ng-model="userProfile.user.email" required>
                            <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                                <div class="help-block" ng-message="required">Kötelező megadni</div>
                                <div class="help-block" ng-message="email">Helytelen email cím formátum</div>
                            </div>
                        </div>
                        <div ng-class="{ 'has-error': (userForm.address.$invalid && userForm.address.$touched) }">
                            <label for="address">Számlázási cím</label>
                            <input id="address" name="address" type="text" class="form-control" ng-model="userProfile.user.address">
                            <div ng-messages="userForm.address.$error" ng-if="userForm.address.$touched">
                            </div>
                        </div>
                        <div ng-class="{ 'has-error': (userForm.phone.$invalid && userForm.phone.$touched) }">
                            <label for="phone">Telefonszám</label>
                            <input id="phone" name="phone" type="text" class="form-control" ng-model="userProfile.user.phone">
                            <div ng-messages="userForm.phone.$error" ng-if="userForm.phone.$touched">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary pull-left" ng-click="userProfile.resendRegistration()">Regisztrációs email újraküldése</button>
                        <button type="submit" class="btn btn-primary pull-right" ng-click="userProfile.submitUser()" ng-disabled="userForm.$pristine || userForm.$invalid">Mentés</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="userProfile.subscriptions.length">
            <div class="panel panel-primary">
                <div class="panel-heading">Bérletek</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="subscription in userProfile.subscriptions">
                            <div>Típus: {{subscription.SubscriptionType.name}}</div>
                            <div>Érvényesség kezdete: {{subscription.from | date : 'yyyy. MMMM d.'}}</div>
                            <div>Érvényesség vége: {{subscription.to | date : 'yyyy. MMMM d.'}}</div>
                            <div>Edző: {{subscription.Coach.fullName}}</div>
                            <div>Ára: {{subscription.price | currency : 'Ft': 0 }}</div>
                            <div>Alkalmak:</div>
                            <ul>
                                <li ng-repeat="credit in subscription.Credits">{{credit.TrainingType.name}}: {{credit.amount}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>