<div class="user-list container-fluid">
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 form-inline">
            <div class="form-group">
                <label for="search">Keresés</label>
                <input id="search" name="search" type="text" class="form-control" ng-model="userList.search"></input>
            </div>
            <button type="button" class="btn btn-primary" ng-click="userList.newUser()">{{userList.newUserButtonTitle}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Tanítványok</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Név</th>
                            <th>Telefonszám</th>                            
                            <th>Email</th>
                            <th>Számlázási cím</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in userList.clients | filter: userList.search" ng-click="userList.userProfile(client)">
                            <td>{{client.displayName}}</td>
                            <td>{{client.phone}}</td>
                            <td>{{client.email}}</td>
                            <td>{{client.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-if="userList.isAdmin">
        <div class="col-xs-12">
            <h3>Edzők</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Név</th>
                            <th>Telefonszám</th>
                            <th>Email</th>
                            <th>Számlázási cím</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coach in userList.coaches | filter: userList.search" ng-click="userList.userProfile(coach)">
                            <td>{{coach.displayName}}</td>
                            <td>{{coach.phone}}</td>
                            <td>{{coach.email}}</td>
                            <td>{{coach.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>