.user-profile {
    input, select, .info {
        margin-bottom: 10px;
    }
    .btn {
        margin-top: 10px;
    }
    .btn.pull-right {
        margin-left: 10px;
    }
    .subscription-panel {
        max-height: 646px;
        overflow: auto;
    }
    .subscription-details {
        div {
            margin-bottom: 10px;
        }
    }
    .reg-date {
        white-space: nowrap; 
    }
    a {
        color: #D9D9D9; 
    }
    i {
        margin-right: 10px;
    }
    i.fa-times {
        padding-top: 2px;
        margin-right: 0;
    }
    i.fa-times:hover {
        cursor: pointer;
    }
}