<div class="user-list container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" ng-click="userList.newUser()">{{userList.newUserButtonTitle}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Tanítványok</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Vezetéknév</th>
                            <th>Keresztnév</th>
                            <th>Becenév</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in userList.clients" ng-click="userList.userProfile(client)">
                            <td>{{client.familyName}}</td>
                            <td>{{client.givenName}}</td>
                            <td>{{client.nickname}}</td>
                            <td>{{client.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-if="userList.isAdmin">
        <div class="col-xs-12">
            <h3>Edzők</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Vezetéknév</th>
                            <th>Keresztnév</th>
                            <th>Becenév</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coach in userList.coaches" ng-click="userList.userProfile(coach)">
                            <td>{{coach.familyName}}</td>
                            <td>{{coach.givenName}}</td>
                            <td>{{coach.nickname}}</td>
                            <td>{{coach.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>