.login {
    max-width: 300px;

    .user-name,
    .password,
    .submit,
    .forgotten-password {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .submit {
        label {
            padding-top: 6px;
        }
    }

    .forgotten-password {
        a {
            color: #D9D9D9;
            font-weight: bold;
        }
    }
}