.subscriptions {
    .calendar {
        max-width: 200px;
        margin-bottom: 20px;
    }

    tbody {
        tr:hover {
            background: #F97A6A;
        }

        tr {
            cursor: pointer;
        }
    }

    .export-button {
        margin-bottom: 20px;
    }

}