.schedule {

    table {
        font-size: 14px;
        background-color: #3F4147;
    }

    .training-container {
        cursor: pointer;
    }

    .training-container > div {
        margin: 10px 0;
    }

    .coach {
        text-align: right;
    }

    .time {
        text-align: center;
    }

    .progress-bar {
        min-width: 4em!important;
    }

    i {
        padding-top: 3.5px;
    }

    .navbar {
        bottom: 0;
    }
    
    .table > thead > tr > th {
        vertical-align: middle;
    }
    
    .small-navbar {
        margin-right: -10px;
    }
    
    .list-inline > li {
        padding-top: 0px;
        padding-left: 10px;
    }
}