<div class="schedule container-fluid">
    <div class="row" ng-repeat="location in schedule.locations">
        <div class="col-xs-12">
            <h3>{{location.name}}</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="hour"></th>
                            <th class="schedule-column" ng-if="day" ng-repeat="day in location.days">{{ day | date : 'EEEE (MMM\u00A0d.)' }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in location.trainings">
                            <td>{{row.hour}}</td>
                            <td class="schedule-cell" 
                                ng-repeat="cell in row.cells">
                                <div class="training-container" 
                                    ng-repeat="training in cell"
                                    ng-class="{ 'attended': training.involved && !training.missed && !training.participated, 'participated': training.participated, 'missed': training.missed }">
                                    <div>{{training.name}}</div>
                                    <div class="coach">{{training.coach}}</div>
                                    <div class="time">{{training.from}} - {{training.to}}</div>
                                    <div>
                                        <uib-progressbar 
                                            class="progress" 
                                            max="training.max || 100" 
                                            value="training.current || training.utilization">
                                            <i ng-if="training.max" class="utilization">{{training.current}} / {{training.max}}</i>
                                        </uib-progressbar>
                                    </div>
                                    <div class="button-container">
                                        <button class="btn btn-primary" ng-if="training.canJoin" ng-click="schedule.manipulate(training)">Jelentkezem</button>
                                        <button class="btn btn-primary" ng-if="training.canLeave" ng-click="schedule.manipulate(training)">Kihagyom</button>
                                        <button class="btn btn-primary" ng-if="training.canModify || training.isCoach" ng-click="schedule.manipulate(training)">Részletek</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="visible-xs small-navbar">
                <div class="short-dates pull-left">
                    {{ schedule.from.valueOf() | date : 'MMM d.' }} - {{ schedule.to.valueOf() | date : 'MMM d.' }} 
                </div>
                <ul class="list-inline pull-right">
                    <li><a ui-sref="schedule.custom({from: schedule.previous.from, to: schedule.previous.to })"><i class="fa fa-arrow-left fa-2x"></i></a></li>
                    <li><a ui-sref="schedule"><i class="fa fa-calendar fa-2x"></i></a></li>
                    <li><a ui-sref="schedule.custom({from: schedule.next.from, to: schedule.next.to })"><i class="fa fa-arrow-right fa-2x"></i></a></li>
                </ul>
            </div>            
            <div class="collapse navbar-collapse" id="bottom-navbar">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        {{ schedule.from.valueOf() | date : 'MMMM d.' }} - {{ schedule.to.valueOf() | date : 'MMMM d.' }} 
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="schedule.custom({from: schedule.previous.from, to: schedule.previous.to })">Előző hét</a></li>
                    <li><a ui-sref="schedule">Aktuális hét</a></li>
                    <li><a ui-sref="schedule.custom({from: schedule.next.from, to: schedule.next.to })">Következő hét</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
