.schedule {

    margin-bottom: 60px;

    table {
        font-size: 14px;
        background-color: #3F4147;
    }

    .training-container > div {
        margin: 10px 0;
    }

    .coach {
        text-align: right;
    }

    .time {
        text-align: center;
    }

    i {
        padding-top: 3.5px;
    }

    .utilization {
        padding-left: 15px; 
        white-space: nowrap;
        color: #3F4147; 
    }

    .navbar {
        bottom: 0;
    }

    .table {
        margin: auto;
        width: auto;
    }

    @media screen and (max-width: 767px) {
        .table {
            width: 100%;
        }
    }
    
    .table > thead > tr > th {
        vertical-align: middle;
        width: 200px;
        min-width: 200px;
    }

    .table > thead > tr > th.hour {
        width: auto;
        min-width: initial;
    }
    
    .small-navbar {
        margin-right: -10px;
    }
    
    .list-inline > li {
        padding-top: 0px;
        padding-left: 10px;
    }

    .short-dates {
        padding-left: 15px;
        padding-top: 5px;
        font-size: 1.5em;
        color: #f97a6a;
    }

    .interactive {
        background-color: #54565E;
        cursor: pointer;
    }

    h3 {
        text-align: center;
    }

    .attended {
        background-color: #607D8B;
    }

    .participated {
        background-color: #43A047;
    }

    .missed {
        background-color: #F44336;
    }

    .schedule-cell {
        height: 200px;
        padding: 0!important;
    }

    .schedule-cell.compact {
        height: 120px;
    }

    .schedule-cell > div {
        padding: 10px;
        border-bottom: solid 1px;
    }

    .schedule-cell > div:last-child {
        border-bottom: none;
    }

    .button-container {
        text-align: center;
    }
}