<div class="reset-password container">
    <div class="row">
        <h3>Új jelszó megadása</h3>
        <div class="description">Kérlek add meg az új jelszavadat!</div>
    </div>
    <div class="row">
        <div class="alert alert-danger" ng-if="resetPassword.error">
            {{resetPassword.error}}
        </div>
        <form name="resetPasswordForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error': (resetPasswordForm.password.$invalid && resetPasswordForm.password.$touched) }">
                <label for="password">Jelszó</label>
                <input name="password" type="password" class="form-control" ng-model="resetPassword.password" required></input>
                <div ng-messages="resetPasswordForm.password.$error" ng-if="resetPasswordForm.password.$touched">
                    <div class="help-block" ng-message="required">Kötelező megadni</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (resetPasswordForm.passwordAgain.$invalid && resetPasswordForm.passwordAgain.$touched) }">
                <label for="passwordAgain">Jelszó még egyszer</label>
                <input name="passwordAgain" type="password" class="form-control" ng-model="resetPassword.passwordAgain" required></input>
                <div ng-messages="resetPasswordForm.passwordAgain.$error" ng-if="resetPasswordForm.passwordAgain.$touched">
                    <div class="help-block" ng-message="required">Kötelező megadni</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-click="resetPassword.submit()" ng-disabled="resetPasswordForm.$pristine || resetPasswordForm.$invalid">Mehet</button>
        </form>
    </div>
</div>