.forgotten-password {

    max-width: 300px;

    h3 {
        text-align: center;
        margin-bottom: 25px;
    }

    .description {
        text-align: justify;
        margin-bottom: 20px;
    }
}