<div class="forgotten-password container">
    <div class="row">
        <h3>Elfelejtetted a jelszavad?</h3>
        <div class="description">Semmi gond, velünk is rendszeresen előfordul <i class="fa fa-smile-o"></i>
        Kérlek add meg az e-mail címedet, amivel regisztrálva vagy.
        Kapni fogsz egy e-mailt, amelyben leírtakat követve tudsz új jelszót beállítani magadnak.</div>
    </div>
    <div class="row">
        <form name="forgottenPasswordForm" autocomplete="off" novalidate>
            <div class="form-group" ng-class="{ 'has-error': (forgottenPasswordForm.email.$invalid && forgottenPasswordForm.email.$touched) }">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" ng-model="forgottenPassword.email" required></input>
                <div ng-messages="forgottenPasswordForm.email.$error" ng-if="forgottenPasswordForm.email.$touched">
                    <div class="help-block" ng-message="required">Kötelező megadni</div>
                    <div class="help-block" ng-message="email">Hibás email formátum</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-click="forgottenPassword.submit()" ng-disabled="forgottenPasswordForm.$pristine || forgottenPasswordForm.$invalid">Mehet</button>
        </form>
    </div>
</div>