<div class="subscription-administation container">
    <h3>{{subscriptionAdministration.title}}</h3>
    <form name="subscriptionForm" autocomplete="off" novalidate>
        <div class="alert alert-danger" ng-if="subscriptionAdministration.error">
            {{subscriptionAdministration.error}}
        </div>
        <div ng-class="{ 'has-error': (!subscriptionAdministration.client && subscriptionForm.client.$touched) }">
            <label for="client">Tanítvány</label>
            <input id="client" name="client" type="text" ng-model="subscriptionAdministration.client" uib-typeahead="client as client.displayName for client in subscriptionAdministration.clients | filter: { displayName: $viewValue }" typeahead-editable="false" class="form-control" autocomplete="off">
            <div class="help-block" ng-show="subscriptionForm.client.$touched && !subscriptionAdministration.client">Nincs ilyen nevű tanítvány</div>
        </div>
        <div ng-if="subscriptionAdministration.isAdmin" ng-class="{ 'has-error': (!subscriptionAdministration.coach && subscriptionForm.coach.$touched) }">
            <label for="coach">Edző</label>
            <input id="coach" name="coach" type="text" ng-model="subscriptionAdministration.coach" uib-typeahead="coach as coach.displayName for coach in subscriptionAdministration.coaches | filter: { displayName: $viewValue }" typeahead-editable="false" class="form-control" autocomplete="off">
            <div class="help-block" ng-show="subscriptionForm.coach.$touched && !subscriptionAdministration.coach">Nincs ilyen nevű edző</div>
        </div>
        <div>
            <label for="subscriptionType">Bérlettípus</label>
            <select class="form-control" name="subscriptionType" id="subscriptionType" ng-init="subscriptionAdministration.type = subscriptionAdministration.subscriptionTypes[0]" ng-model="subscriptionAdministration.type" ng-options="type.name for type in subscriptionAdministration.subscriptionTypes" ng-change="subscriptionAdministration.typeChanged()">
            </select>
        </div>
        <div>
            <label for="fromCalendar">Érvényesség kezdete</label>
            <ko-calendar id="from" model="subscriptionAdministration.from" format="yyyy. MMM dd." minDate="subscriptionAdministration.minDate" maxDate="subscriptionAdministration.maxDate" enable-time="false"></ko-calendar>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Érvényesség</label>
                <div class="radio" ng-repeat="template in subscriptionAdministration.templates | unique: 'valid'">
                    <label>
                        <input type="radio" ng-model="subscriptionAdministration.variant" ng-value="template" ng-change="subscriptionAdministration.validChanged()">
                        {{ template.validText }}
                    </label>
                </div>
            </div>
            <div class="col-xs-6">
                <label>Heti alkalom</label>
                <div ng-if="subscriptionAdministration.variant" class="radio" ng-repeat="template in subscriptionAdministration.templates | filter: { valid : subscriptionAdministration.variant.valid } | orderBy: 'amountPerWeek' ">
                    <label>
                        <input type="radio" ng-model="subscriptionAdministration.credits" ng-value="template.CreditTemplates" ng-change="subscriptionAdministration.amountChanged()">
                        {{ template.amountPerWeek }}
                    </label>
                </div>
            </div>
        </div>
        <div>
            <label>Ár</label>
            <div>{{ subscriptionAdministration.credits.price | currency : 'Ft': 0 }}</div>
        </div>
        <div>
            <label>Alapértelmezett órák</label>
            <div class="checkbox" ng-if="!subscriptionAdministration.isAdmin">
                <label>
                    <input type="checkbox" ng-model="subscriptionAdministration.showAllTraining"> Mutasd más edzők óráit is
                </label>
            </div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <th>Óra</th>
                    <th>Edző</th>
                    <th>Időpont</th>
                </thead>
                <tbody>
                    <tr ng-repeat="training in subscriptionAdministration.trainings" ng-class="{ selected : training.selected }" ng-click="subscriptionAdministration.clickTraining(training)">
                        <td>{{ training.name }}</td>
                        <td>{{ training.coach }}</td>
                        <td>{{ training.date | date : 'EEEE HH:mm' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="subscriptionAdministration.sendEmail"> Email küldése a vásárlásról 
            </label>
        </div>
        <button type="submit" class="btn btn-primary pull-right" ng-click="subscriptionAdministration.submit()" ng-disabled="subscriptionForm.$pristine || subscriptionForm.$invalid || subscriptionAdministration.invalid()">Mentés</button>
    </form>
</div>
